Basic/CSharp/Class 2 - Student.ipynb
Basic/Python/Class 2 - Student.ipynb
Basic/Python/Class 2 - Italo Thiago da Silva Gomes da Costa.ipynb
Basic/Python/Class 2 - Italo Thiago da Silva Gomes da Costa - Tentativa 2.ipynb
Basic/Python/Class 3 - Italo Thiago da Silva Gomes da Costa.ipynb
Basic/Python/Class 4 - Italo Thiago da Silva Gomes da Costa.ipynb
