.gitignore
Basic/CSharp/Class 2 - Student.ipynb
Basic/Python/Jala/Class 2.ipynb
Basic/Python/Jala/Class 3 .ipynb
Basic/Python/Jala/Class 4 .ipynb
Basic/Python/Jala/Class 5 .ipynb
Basic/Python/Jala/Class 6 .ipynb
Basic/Python/Jala/Draw.drawio
Basic/CSharp/Math/Potenciacao/Potenciacao/Potenciacao.sln.DotSettings.user
Basic/CSharp/GUID/.idea/.idea.GUID/.idea/encodings.xml
Basic/CSharp/GUID/.idea/.idea.GUID/.idea/vcs.xml
Basic/CSharp/GUID/GUID.sln.DotSettings.user
